
@{
    ViewData["Title"] = "AccesDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AccesDenied</h1>

<h1 class="text-danger">Access denied</h1>
<h3>You are not authorized to view this Resource.</h3>